@font-face{
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Raleway', sans-serif;
}

.header_container{
    background-color: white;
    position: relative;
    display: flex;
    width: 100%;
}

.header_container .navigateur{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
}

.navigateur{
    flex-direction: row;
    width: 100%;
}

.navigateur nav{
    width: 58%;
}

#titre_principal{
    padding: 1px 8px;
}

.navigateur li{
    list-style-type: none;
    
}

.navigateur ul{
    display: flex;
    justify-content: space-between;
}


.link a {
    text-decoration: none;
    color: #0065FC;
}
.link-black a{
    color: black;
    text-decoration: none;
}

.blue{
    color: #0065FC;
    font-weight: bold;
}

.search{
    position: relative;
    flex-direction: column;
    display: flex;
    width: 100%

}

.search_flat{
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
    width: 100%;
}

.choice {
    display: flex;
    margin-block-start: -0.4em;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
    padding-left: 12px;
}

.search-btn-container{
    display: flex;
    border: 1px solid #F2F2F2;
    width: 43%;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.search-btn-icon-left-container, .search-btn-icon-right-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn-icon-left-container{
    background-color: #F2F2F2;
    width: 61px;
    height: 61px;
    padding-top: 1px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    font-size: 20px;
    
}
   

.search-btn-icon-right-container{
    background-color: #0065FC;
    width: 120px;
    font-size: 19px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
    


.search-btn-input {
    border: none;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    padding-left: 12px;
}

.search-btn-icon-right {
    
    color: white;
    background-color: #0065FC;
}

.search-btn-right{
    color: white;
}



.filter_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.title_filter{
    font-weight: bold;
    font-size: 19px;
    color: black;
    padding-left: 13px;
    margin-right: 15px;

}

.filters {
    display: flex;
    width: 125%;
    flex-direction: row;
    padding-left: 7px;
    justify-content: space-between;
}

.icon-container {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 50px;
    border: 2px solid silver;
    border-radius: 27px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.icon-container i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -3px;
    background-color:#DEEBFF;
    padding-right: 2px;
}

.icon-container i:before {
    color: #0065fc;
    font-size: 20px;
}

.icon-container p {
    font-weight: bold;
}

#information{
    display: flex;
    width: 100%;
}

#information p{
    font-size: 16px;
    padding-left: 9px;
    margin-top: 1px;
}




.info-btn-icon-left{
    background-color: white;
    color: #0065FC;
    font-size: 9px;
    border: 1px solid silver;
    width: 3%;
    height: 22%;
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    padding-top: 4px;
    margin-left: 7px;
    border-radius: 14px;
    
}




.title-price-stars-bloc-9 p{
    color: black;
    font-weight: normal;
    font-size: 13px;
    padding-left: 10px;
    width: 82%;
    top: -13px;
    
}

.flat-famous-container{
    width: 100%;
    position: relative;
}

.flat-famous-container, .populaires_container{
    display: flex;
    justify-content: flex-start;
}




.populaires_container{
    position: relative;
    display: flex;
    background-color: #F2F2F2;
    flex-direction: column;
}

.populaires_title{
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    width: 92%;
}

.populaires_title h3{
    font-size: 18px;
}

.populaires_container, .icon_line{
    display: flex;
    align-items: flex-start;
    padding-bottom: 26px;
    width: 33%;
    border-radius: 15px;
    padding: 10px;
    
}

.icon_line{
    display: flex;
    color: black;
    background-color: #F2F2F2;
    padding-top: 18px;
    font-size: 20px;
    width: 7%;

}


.item-container-famous{
    border: 1px solid transparent;
    display: flex;
    width: 260px;
    height: 120px;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
    padding-left: 5px;
}

.item-container img {
    width: 100px;
    height: 100px;
}

.img-hebergement {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.img {
    margin-left: -2px;
    width: 43%;
    height: 72%;
    margin-top: 1px;
    padding-bottom: 28px
}

.title-price-stars-item-container{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
}

.title-price-stars-item-container h4{
    padding-left: 11px;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: -2px;
    margin-bottom: -9px;
}

.title-price-stars-item-container p{
    font-size: 12px;
    padding-top: -14px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.stars-famous{
    color: #0065FC;
    font-size: 11px;
    margin-bottom: 10px;
    display: flex;
    padding-left: 11px;

}

.empty_star{
    color:  #F2F2F2;
}

.flat-container{
    display: flex;
    background-color: #F2F2F2;
    width: 131%;
    flex-flow: wrap;
    border-radius: 27px;
    justify-content: space-between;
    margin-right: 13px;
    padding-bottom: 73px;
}


.title-container-flat{
    font-size: 18px;
    padding-left: 17px;
    font-weight: bold;
    width: 100%;
}

.item-container{
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 21px;
    padding-left: 6px;
    flex-direction: column;
    border-radius: 22px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 29%;
    height: 34%;
    margin: 10px;
}

.img-flat{

    background-size: cover;
    background-position: center;
    border-top-left-radius: 21px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-top: 3px;
    height: 89px;
    margin-left: -6px;
    
}


.title-price-stars-flat-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 35%;
    font-size: 13px;
    
}

.title-price-stars-flat-container h4,.title-price-stars-flat-containe p{
    margin: 0px;
    margin-bottom: -12px;
    font-size: 15px;

}

.title-price-stars-flat-containe p{
    font-size: 10px;
}

 .stars{
    color: #0065FC;
    font-size: 11px;
    margin-bottom: 10px;
    display: flex;
    margin-top: -10px; 
 }

 .show-more{
    padding-left: 13px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 18px;
 }
 

.Activity_container{
    width: 100%;
    display: flex;
    background-color: white;
    border: 1px solid;
}

.title-principal-activity{
    font-size: 19px;
    width: 100%;
}

.item-container-activity{
    align-items: center;
    display: flex;
    width: 330px;
    margin: 10px;
    background-color: white;
    border-radius: 21px;
    padding-left: 6px;
    flex-direction: column;
    border-radius: 22px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-activity{
    background-size: cover;
    background-position: center;
    border-top-left-radius: 21px;
    border-top-right-radius: 20px;
    width: 100%;
    margin-top: 3px;
    height: 89px;
    margin-left: -7px;
}

.item-container-activity .img-activity{
    width: 203px;
    height: 223px;

}

.img-4 {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.img-5 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.img-6 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.img-7 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.img-8 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.img-9 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.img-10{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.img-11{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.img-12{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.img-13{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.img-14{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.img-15{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.item-container-activity h4{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-left: 18px;
}

#bloc_informations{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bloc_informations li{
    list-style-type: none;
    padding-bottom: 6px;
    padding-left: -16px;
    margin-top: 2px;
}

#bloc_informations h4{
    font-size: 17px;
    padding-left: 2px;

}

.about{
    flex-direction: column;
    display: flex;
    font-size: 13px;
    margin-left: -59px;
  }

  .about ul{
      padding-left: 1px;
  }
  .our-flat{
    flex-direction: column;
    display: flex;
    font-size: 13px;
  }
  .our-flat ul{
    padding-left: 1px;
  }

  .help{
    flex-direction: column;
    display: flex;
    font-size: 13px;
  }

  .help ul{
    padding-left: 1px;
  }

