@font-face{
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/** Common **/
.item__container {
    border: 6px solid white;
    align-items: center;
    list-style-type: none;
    display: flex;
    height: 126px;
    overflow: hidden;
    background-color: white;
    border-radius: 21px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/** Header **/

.header__container{
    background-color: white;
    position: relative;
}

.header__container .page__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__container .navigateur ul {
    padding-left: 0;
    display: flex;
}

.header__container .navigateur .link {
    padding: 15px 0;
    font-size: 16px;
    color: transparent;
    width: 50%;
    text-align: center;
    border: transparent 2px solid;
}

.navigateur .link:hover {
    color: blue;
    border-bottom-color: blue;
}

.navigateur .link:hover a {
    color:  #0065FC;
    font-weight: bold;
}

.link a {
    text-decoration: none;
    color: black;
}

.blue {
    color: #0065FC;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/** Search Part **/

.search__container {
    padding: 0 20px 20px 20px;
}

.search__container .search__informations .search_flat{
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}
    
.search__container .search__informations .choice {
    font-weight: normal;
    font-size: 18px;
    margin: -10px 0 30px 0;
}

.search__container .search-btn-container {
    height: 50px;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.search__container .search-btn-input {
    border: none;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    padding-left: 12px;
}

.search__container .search-btn-icon-right {
    color: white;
    background-color: #0065FC;
}

.search__container .search-btn-icon-left-container {
    background-color: #F2F2F2;
}
   
.search__container .search-btn-icon-right-container {
    right: 0;
    z-index: 10;
    position: absolute;
    border-radius: 15px;
    background-color: #0065FC;
}

.search__container .search-btn-icon-left-container, .search__container .search-btn-icon-right-container {
    width: 50px;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.search__container .filter_container {
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-bottom: 13px;
}

.search__container .filter_container .title_filter {
    font-weight: bold;
    font-size: 19px;
    color: black;
}

.search__container .filter_container .filters {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 11px;
} 

.search__container .filter_container .filters .filter_icon {
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    position: relative;
    padding: 0 10px 0 55px;
    border: 2px solid silver;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search__container .filter_container .filters .filter_icon p {
    font-weight: bold;
}

.search__container .filter_container .filters .filter_icon i {
    left: -3px;
    z-index: 10;
    border-radius: 21px;
    position: absolute;
    font-size: 20px;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: flex;
    top: -3px;
    align-items: center;
    justify-content: center;
}

.search__container .information {
    display: flex;
    align-items: baseline;
}

.search__container .information p {
    font-size: 14px;
    margin-left: 10px;
}

.search__container .info-btn-icon-left i {
    border-radius: 100%;
    border: 1px solid silver;
    color: #0065fc;
    padding: 4px 7px;
    font-size: 10px;
}

/** Populaires part **/

.populaires_container {
    padding: 0 20px 20px 20px;
    background-color: #F2F2F2;
}

.populaires_container .populaires_title {
    display: flex;
    justify-content: space-between;
}

.populaires_container .populaires_title h3 {
    font-size: 20px;
}

.populaires_container .populaires_title .icon_line{
    display: flex;
    color: black;
    background-color: #F2F2F2;
    padding-top: 18px;
    font-size: 23px;
    width: 7%;
}

.populaires_container .item-container-famous .img-hebergement {
    min-width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.populaires_container .item-container-famous .img-1 {
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.populaires_container .item-container-famous .img-2 {
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.populaires_container .item-container-famous .img-3 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.populaires_container .item-container-famous .title-price-stars-item-container {
    height: 100%;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
}

.populaires_container .item-container-famous .title-price-stars-item-container h4 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.populaires_container .item-container-famous .title-price-stars-item-container p {
    font-size: 13px;
    margin-top: 5px;
}

.populaires_container .item-container-famous .stars-famous {
    color: #0065FC;
    font-size: 11px;
    display: flex;

    margin-top: auto;
    margin-bottom: 10px;
}

.populaires_container .item-container-famous .empty_star{
    color:  #F2F2F2;
}

/** Hebergements **/

.flat-poulaires-container h2{
    font-size: 19px;
    padding-left: 20px;
}

.flat-container {
    padding: 0 20px 20px 20px;
}

.flat-container .title-container-flat {
    font-size: 22px;
    background-color: white;
    font-weight: bold;
    margin-top: 30px;
}

.flat-container .item__container {
    height: 170px;
    flex-direction: column;
}

.flat-container .item__container .img-flat{
    width: 100%;
    min-height: 50%;
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.img-5 {
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.img-6 {
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.img-7 {
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.img-8 {
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.img-9 {
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.title-price-stars-flat-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.title-price-stars-flat-container h4{
    margin: 0px;
    padding-top: 10px;
    margin-bottom: -12px;
    font-size: 18px;

}

.title-price-stars-flat-container p{
    font-size: 15px;
}

.stars{
    color: #0065FC;
    font-size: 11px;
    margin-bottom: 10px;
    display: flex;
}

.show-more{
    padding-left: 25px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
 
.Activity_container {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.title-principal-activity {
    font-size: 21px;
    margin-bottom: 20px;
    margin-top: 42px;
    width: 90%;
    margin-left: 5%;
}

.item-container-activity {
    border: 6px solid white;
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 21px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-activity {
    width: 100%;
    min-height: 65%;
    background-size: cover;
    background-position: center;
}

.img-activities {
    width: 100%;
}

/* .img-activities {
    width: 90%;
    margin: 10px;
} */

.img-10{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    
}

.img-11{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    
}

.img-12{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    
}

.img-13{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
   
}

.img-14{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    
}

.img-15{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    
}

.item-container-activity h4{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-left: 18px;
}

#bloc_informations{
    background-color: #F2F2F2;
    padding-bottom: 17px;
    width: 108%;
    margin-left: -8px;
}

#bloc_informations li{
    list-style-type: none;
    margin: 12px;
    margin-left: -23px;
    padding-bottom: 6px;
}

#bloc_informations h4{
    font-size: 19px;
    padding-left: 18px;
    padding-top: 37px;
  }

@media all and (min-width:992px){
    .header__container{
        flex-direction: row;
        display: flex;
        top: 5px;
    }

    .header__container .page__logo{
        width: 100%;
    }

    .blue .link{
        display: flex;
        flex-direction: row-reverse;
    }

    
    .header__container .navigateur ul {
        
        position: absolute;
        top: -7px;
        right: 96px;
        width: 30%;
        
     }
     
     .navigateur .link:hover {
        color: #DEEBFF;
        border-top: #0065FC 2px solid;
        border-bottom-color: white;
    
    }
    .header__container .navigateur .link {
        color: white;
       
    }
    } 

@media all and (min-width:992px){
    .search__informations{
        width: 100%;
        height: 70px;
    }
    .search__container .search__informations .search_flat{
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
    }
    .search__container .search__informations .choice{
        font-size: 15px;
    }

    
    }    
    
@media all and (min-width:992px){
    .search__container .search-btn-container {
        height:45px;
        width: 35%;
    }
    .search__container .search-btn-container .search-btn-icon-right-container{
        width: 30%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .search__container .search-btn-container .search-btn-icon-left-container{
        border-top-left-radius: 0px;
        width: 15%;
        border-bottom-left-radius: 0px;
    }

    .search__container .filter_container{
        height: 60px;
        padding-top: 10px;
    }

    .filter_container{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .title_filter{
        width: 100%;
        position: absolute;
        left: 20px;
    }
    .filters{
        margin-top: 10px;
        width: 80%;
        height: 60px;
    }

    .filter_container .filters{
        height: 50px;
        
        display: flex;
        flex-direction: row;
    }
     
}    

@media all and (min-width:650px){
    .img-activity {
        height: 250px;
    }
  }

@media all and (min-width:992px){
    .Activity_container {
        flex-direction: row;
    }

    .Activity_container .img-activities {
        height: 100%;
        width: 100%;
    }

    .Activity_container .item-container-activity {
        height: 100%;
        border: 0;
    }

    .Activity_container .img-activities .item-container-activity {
        margin: 20px 0;
    }

    .Activity_container .item-container-activity .img-activity {
        height: 385px;
        width: 100%;
    }

    .Activity_container .img-activities, .Activity_container .item-container-activity {
        margin: 20px;
    }

    .Activity_container .img-activities .item-container-activity:nth-of-type(1) .img-activity {
        height: 215px;
    }

    .Activity_container .img-activities .item-container-activity:nth-of-type(2) .img-activity {
        height: 100px;
    }
}
    /* .img-11 {
        height: 100px;
    }
    .img-12 {
        height: 80px;
    }
} */

