@font-face{
    font-family: "toto";
    src: url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@100&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:ital,wght@0,100;1,100&display=swap');
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif;    
}

body h1{
    font-family: "toto";
    color: rgb(0, 204, 255);
    text-align: center;
}

img{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;     
}